{% extends "base.html" %}

{% block title %}Contact {% endblock %}

{% block content %}



    <!-- Main Content -->
    <div class="row col-lg-8 col-md-10 mx-auto">


        <!-- contact.html -->
        <form action="{{ url_for('contact') }}" method="post" class="form">
            <h1>Contact</h1>

                <div class="login" class="form-group floating-label-form-group controls">
                    <div>
                        <label for="name"></label>
                        <input type="text" id="name" name="name" placeholder="Name" required>
                    </div>

                    <div>
                        <label for="place">
                            <i class="fa-solid fa-burger"></i>
                        </label>
                        <input type="text" name="place" placeholder="Restaurant Visited" id="place" required>
                    </div>

                    <div>
                        <label for="rating">
                            <i class="fa-regular fa-star"></i>
                        </label>
                        <input type="number" name="rating" placeholder="Rating out of 5" id="rating" required min="1" max="5">
                    </div>

                    <div>
                        <label for="comments">
                            <i class="fas fa-envelope"></i>
                        </label>
                        <input type="text" name="comments" placeholder="Comments" id="comments" required>
                    </div>

                        <input type="submit" value="Send">
                </div>
        </form>
    
    </div>

   
{% endblock %}