{% extends "base.html" %}

{% block title %}Home - My Flask App{% endblock %}

{% block content %}


  <!-- Main Content -->
      
  <section id="testimonials">
    <div>

      <h1>Reviews</h1>

    </div>

    <!-- testimonial box section-->
    <div class="testimonial-box-container">

      <!--box 1-->
      <div class="testimonial-box">
        <!--top-->
        <div class="top=box">
              <!--profile-->
              <div class="profile">
                <!--name and place-->
                <div class="name-user">
                  <strong>SIX</strong>
                  <span>Michael Brown</span>
                </div>
              </div>
              <!--reviews-->
              <div class="reviews">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i> 
                <i class="fas fa-star"></i> 
              </div>
        </div>

        <!---comments-------------->
        <div class="client-comment">
          <p>
            We visited Thursday lunch time with a relative who has travelled up from Cambridge for a few days. Tge crab on toast
            was delicous, the staff were very helpful and attentive, tge decor and surroundings are plush all in all a great
            experience. Thank you!
          </p>
        </div>

      </div>

      <!--box 2-->
      <div class="testimonial-box">
        <!--top-->
        <div class="top=box">
              <!--profile-->
              <div class="profile">
                <!--name and place-->
                <div class="name-user">
                  <strong>Antico</strong>
                  <span>Emma Louise</span>
                </div>
              </div>
              <!--reviews-->
              <div class="reviews">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i> 
                <i class="fas fa-star"></i> 
              </div>
        </div>

        <!---comments-------------->
        <div class="client-comment">
          <p>
            Super friendly owners and staff, very attentive and helpful. Food delicious, with lots of breakfast and brunch
            offers for the morning we went which also accommodated vegetarians and lactose intolerance. Average prices,
            beautiful setting, what isn’t there to love? Will be coming back here again, checking out their midweek tapas night
            which looks amazing.
          </p>
        </div>

      </div>

      <!--box 3-->
      <div class="testimonial-box">
        <!--top-->
        <div class="top=box">
              <!--profile-->
              <div class="profile">
                <!--name and place-->
                <div class="name-user">
                  <strong>North</strong>
                  <span>Isaac Williams</span>
                </div>
              </div>
              <!--reviews-->
              <div class="reviews">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i> 
                <i class="far fa-star"></i> <!--empty star-->
              </div>
        </div>

        <!---comments-------------->
        <div class="client-comment">
          <p>
            What an amazing little find, such tasty food, fresh sea food, friendly staff and Chef. We will definitely come back.
            Thank you
          </p>
        </div>

      </div>

      <!--box 4-->
      <div class="testimonial-box">
        <!--top-->
        <div class="top=box">
              <!--profile-->
              <div class="profile">
                <!--name and place-->
                <div class="name-user">
                  <strong>Fausto</strong>
                  <span>Stephen L</span>
                </div>
              </div>
              <!--reviews-->
              <div class="reviews">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i> 
                <i class="fas fa-star"></i>
              </div>
        </div>

        <!---comments-------------->
        <div class="client-comment">
          <p>
            Popped in while travellers between holiday locations. The breakfasts were great - I had the full breakfast, lovely
            sausages and bacon. My wife had the vegetarian breakfast - looked really good too.
          </p>
        </div>

      </div>

    </div>

  </section>
   
    <hr>

{% endblock %}